p,
h1,
h2,
a,
label {
  color: white;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
}

#header-logo img {
  width: 500px;
  height: auto;
  filter: drop-shadow(1px 1px 1px black);
}

.theme-toggle img {
  width: 60px; 
}
.theme-toggle {
  background-color: var(
    --background-color
  );
  color: var(--text-color);
  position: fixed; 
  top: 10px; 
  right: 10px; 
  z-index: 1000; 
  border: none; 
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.theme-toggle:hover {
  filter: brightness(90%);
  background-color: rgba(255, 255, 255, 0.2);
}
