p,
h1,
h2,
a,
label {
  color: white;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
}

#header-logo img {
  width: 500px;
  height: auto;
}

.navbar {
  margin-bottom: 20px; /* Add space below the navbar if needed */
}
