p,
h1,
h2,
a,
label {
  color: white;
}


/* Light Mode - Robot-tema */
[data-theme='light'] {
  --background-color: #f0f0f0; /* Ljusgrå, metallisk känsla */
  --text-color: #333; 
  --accent-color: #007bff; /* Klassisk robotblå */
  --highlight-color: #ffd700; /* Guldfärgad highlight */
}

/* Dark Mode - Robot-tema */
[data-theme='dark'] {
  --background-color: #222; 
  --text-color: #e0e0e0; /* Ljusgrå, digital känsla */
  --accent-color: #00ff00; /* Neon-grön, futuristisk */
  --highlight-color: #00ffff; /* Cyan, elektrisk */
}

header {
  display: flex;
  justify-content: center;
}

#header-logo img {
  width: 500px;
  height: auto;
}

.navbar {
  margin-bottom: 20px; /* Add space below the navbar if needed */
}


.theme-toggle {
  position: fixed; /* Positionera knappen absolut */
  top: 10px; /* Placera den 10px från toppen */
  right: 10px; /* Placera den 10px från höger */
  z-index: 1000; /* Se till att knappen visas ovanpå annat innehåll */
}

