:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Default (light mode) */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

body[data-theme='light'] {
  --background-color: white;
  --text-color: black;
}

body[data-theme='dark'] {
  --background-color: black;
  --text-color: white;
}

/* Dark Mode */
body[data-theme='dark'] {
  --accent-color: #00ff00;
  --highlight-color: #00ffff;
  --nav-background-color: #333;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

/* Theme Toggle */
.theme-toggle {
  background-color: var(--accent-color);
  color: var(--text-color);
  /* Color should match the current theme's text color */
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.theme-toggle:hover {
  filter: brightness(90%);
}

/* Navbar Styles */
.robo-nav {
  background-color: var(--nav-background-color);
  /* Use theme-based nav background color */
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: var(--text-color);
  /* Make sure text color matches the current theme */
  text-decoration: none;
  margin-right: 1rem;
}

.nav-link:hover {
  color: var(--highlight-color);
  /* Use the highlight color for hover */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}