:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  /* Flytta temafärgerna till body */
  --background-color: #f0f0f0; /* Ljusgrå, metallisk känsla */
  --text-color: #ffffff; 
  --accent-color: #007bff; /* Klassisk robotblå */
  --highlight-color: #ffd700; /* Guldfärgad highlight */

  background-color: var(--background-color); /* Använd CSS-variabeln */
  color: var(--text-color); /* Använd CSS-variabeln */
  transition: background-color 0.3s ease, color 0.3s ease; /* Lägg till mjuka övergångar */
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

/* Light Mode - Robot-tema */
body[data-theme='light'] {
  --background-color: #f0f0f0; 
  --text-color: #333; 
  --accent-color: #007bff; 
  --highlight-color: #ffd700;
  --nav-background-color: #eee; 
}

/* Dark Mode - Robot-tema */
body[data-theme='dark'] {
  --background-color: #222; 
  --text-color: #e0e0e0;
  --accent-color: #00ff00; 
  --highlight-color: #00ffff; 
  --nav-background-color: #333; 
}


h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

