:root {
  font-family: 'Roboto Mono', monospace; 
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark; /* Tillåt både light och dark mode */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Light mode - standardfärger */
  --background-color: #f0f0f0; 
  --text-color: #333; 
  --accent-color: #007bff; 
  --highlight-color: #ffd700; 
  --nav-background-color: #eee; 
}

body {
  background-color: var(--background-color); 
  color: var(--text-color); 
  transition: background-color 0.3s ease, color 0.3s ease; 
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}


/* Dark mode-stilar */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222; 
    --text-color: #e0e0e0; 
    --accent-color: #00ff00; 
    --highlight-color: #00ffff; 
    --nav-background-color: #333; 
  }
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}