.search-sort-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -15px;
}

.sort-menu {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sort-menu label {
  font-weight: 500;
  color: var(--text-color);
}

.sort-menu select {
  font-size: 16px;
  padding: 8px 12px;
  border: 1px solid #ced4da;
  background-color: #ffffff;
  color: #252525;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.sort-menu select:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
  outline: none;
}

.sort-menu option {
  padding: 8px;
}

.article-list {
  color: black;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.sort-menu {
  margin-bottom: 20px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.article-card {
  position: relative;
  background-size: cover;
  background-position: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(50% - 20px);
  box-sizing: border-box;
  color: white;
  overflow: hidden;
  height: 400px;
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  display: flex;
  flex-direction: column;
}

.article-card:hover {
  transform: scale(1.04);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.article-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  z-index: 1;
}
.read-more-button {
  position: absolute;
  bottom: 9px;
  left: 16px;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
}

.article-card img.article-image {
  display: none;
}

.article-card h2,
.article-card p,
.article-card a {
  position: relative;
  z-index: 2;
}

.article-card h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.article-card p {
  font-size: 1em;
  margin-bottom: 10px;
  flex-grow: 1;
}

.article-card a {
  color: #00aaff;
  text-decoration: none;
}

.article-card a:hover {
  text-decoration: underline;
}

.search-bar {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

.search-bar {
  color: #00aaff;
}
