div#contactContainer {
  position: relative;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 600px;
  padding: 20px;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

div#contactContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/mountains.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  z-index: -1; 
  border-radius: 8px;
}

div#contactContainer * {
  position: relative; 
  z-index: 1; 
}

a#email {
  color:#B4FBFB;
}

a#email:hover {
  color:#7FE2F3;
}

div#contactText {
  color: #d9ffff;
  text-shadow: 0 2px 4px #347393;
  flex: 1;
  margin-bottom: 10px;
}

form#contactForm {
  background-color: #16597bd7;
  border-radius: 8px;
  min-width: 50%;
  margin: 10px;
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

h2#contactFormH2, label {
  color: #d9ffff;
}

.contactInput,
select#subject,
input#submitButton {
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  background-color: #fbfdfd;
  color: #00040b;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border: 2px solid #2b6a8a;
  border-radius: 5px;
  width: 80%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  resize: vertical;
  outline: none;
  resize: none; 
}

input#submitButton {
  background-color: #d9ffff;
  width: 50%;
}

input#submitButton:hover {
  background-color: #7FE2F3;
}

.contactInput:focus,
select#subject:focus {
  border-color: #7FE2F3;
}

select#subject,
input#submitButton {
  cursor: pointer;
}

img#contactImg {
  width: 100%;
}