.creators-container {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 50px auto;
    text-align: center;
    overflow: hidden;
    background-color: #333;
    border-radius: 5px;
}

.creator-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
}

.creator-slide.active {
    opacity: 1;
    z-index: 1;
}

.creator-slide img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.creator-name {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Cinzel', serif;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 2;
}