/*Register and Login CSS*/
.regLoginContainer {
  margin-top: 50px;
  padding: 10%;
  border-radius: 8px;
  background-color: #c3dcec;
  border: 2px solid #1e5978;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
}

.regLoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.regLoginForm label,
input {
  margin: 1%;
  color: #011925;
}

.regLoginForm input {
  background-color: #fbfdfd;
  border: 2px solid #1e5978;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
  padding: 4px;
  width: 200px;
  outline: none;
}

.regLoginForm input:focus {
  border: 2px solid #3c29aa;
}

.regLoginForm button {
  margin-top: 5%;
  color: #fbfdfd;
  background-color: #1e5978;
  border: 2px solid #1e5978;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
}

.regLoginForm button:hover {
  background-color: #3c29aa;
  border: 2px solid #3c29aa;
}

/*Only used in login page*/
p#regLink {
  margin: 5%;
  color: #011925;
}

p#regLink a {
  color: #1e5978;
  font-weight: 610;
}

p#regLink a:hover {
  color: #3f2caa;
}